body {
    margin: 0;
}
/* div {
    border: 1px solid #000;
} */


/* container */
#container {
    width: auto; padding: 40px; margin: 0 auto; /* 화면 중앙에 배치 */
}


/* header */
#header {
    margin-bottom: 40px;
}
#header div { /*.best & .score & #login 공통 적용 */
    width: 200px; height: 50px; text-align: center; line-height: 50px; /* 세로 중앙 정렬을 위해 height 크기와 동일시 */ font-size: 20px;
}
.best{
    display: inline-block; border: 2px solid rgb(241, 7, 7);
}
.score {
    display: inline-block; /* margin-left: 500px; */ border: 2px solid rgb(30, 236, 174);
}
#login {
    float: right; border: 2px solid rgb(245, 242, 50);
}


/* contents */
#contents {
    margin-left: 130px; width: 500px;  float: left; /* 왼쪽 배치 */ margin-bottom: 20px; 
}
.playground{
    height: 700px; text-align: center; border: 2px solid gold;
}


/* sidebar */
#sidebar {
    margin-right: 100px; width: 900px; float: right; /* 왼쪽으로 플로팅 */ margin-bottom: 20px; /* 아래 요소와의 간격 */
}
.left {
    width: auto; float: left; margin-bottom: 10px;
}
.next_block{
    width: 350px; height: 220px; text-align: center; border: 2px solid rgb(18, 39, 231); margin-bottom: 10px; /* 아래 요소와의 간격 */
}
.timerBox{
    width: 350px; height: 150px; text-align: center; border: 2px solid rgb(238, 110, 232);
}
#time {
    width: 350px; line-height: 150px; /* 패딩 대신 세로 중앙 정렬을 위해 timerBox의 height와 크기 동일시 */ font-size: 70px; border: 2px solid orange;
}
#rank {
    float: right; width: 450px; height: 384px; caption-side: top; font-size: 23px; text-align: center; border: 2px solid rgb(175, 10, 240);
}
#ranking {
    width: auto; height: auto; text-align: center; font-size: 25px;
}
.method {
    clear: both; /* 양쪽 플로팅 해제 */ height: 300px; text-align: center; border: 2px solid rgb(236, 43, 204);
}


/* footer */
#footer {
    clear: both; /* 양쪽 플로팅 해제 */
}



@media (max-width : 1750px) { /* 1024px 이하의 디바이스에서의 스타일 적용 */
    /* container */
    #container {
        width: auto; padding: 30px; margin: 0 auto; /* 화면 중앙에 배치 */
    }

    /* header */
    #header {
        margin-bottom: 40px;
    }
    #header div {
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px; /* 세로 중앙 정렬을 위해 height 크기와 동일시 */
        font-size: 20px;
    }

    .best{
        display: inline-block;
        border: 2px solid rgb(241, 7, 7);
    }

    .score {
        display: inline-block;
        /* margin-left: 500px; */
        border: 2px solid rgb(30, 236, 174);
    }

    #login {
        float: right;
        border: 2px solid rgb(245, 242, 50);
    }

    /* contents */
    #contents {
        margin-left: 130px;
        width: 500px; 
        float: left; /* 왼쪽 배치 */
        margin-bottom: 20px; 
    }

    .playground{
        height: 700px;
        text-align: center;
        border: 2px solid gold;
    }

    /* sidebar */
    #sidebar {
        margin-right: 100px;
        width: 900px;
        float: right; /* 왼쪽으로 플로팅 */
        margin-bottom: 20px; /* 아래 요소와의 간격 */
    }
    .left {
        width: auto;
        float: left;
        margin-bottom: 10px;
    }

    .next_block{
        width: 350px;
        height: 220px;
        text-align: center;
        border: 2px solid rgb(18, 39, 231);
        margin-bottom: 10px; /* 아래 요소와의 간격 */
    }

    .timerBox{
        width: 350px;
        height: 150px;
        text-align: center;
        border: 2px solid rgb(238, 110, 232);
    }
    #time {
        width: 350px;
        line-height: 150px; /* 패딩 대신 세로 중앙 정렬을 위해 timerBox의 height와 크기 동일시 */
        font-size: 70px;
        border: 2px solid orange;
    }

    #rank {
        float: right;
        width: 450px;
        height: 384px;
        text-align: center;
        border: 2px solid rgb(175, 10, 240);
    }

    .method {
        clear: both; /* 양쪽 플로팅 해제 */
        height: 300px;
        text-align: center;
        border: 2px solid rgb(236, 43, 204);
    }

    /* footer */
    #footer {
        clear: both; /* 양쪽 플로팅 해제 */
    }
}