/* css에서 태그는 그냥 태그명을 쓰면 됨.
    class를 쓰고 싶으면, 마침표(.) 기호를 쓰고 class명 쓰면 됨.
    id를 쓰고 싶으면, # 기호를 쓰고 id명 쓰면 됨.
    여기서 중요한 것은 class명은 중복해서 사용 가능하지만, 
    id는 중복해서 쓸 수 없고 오직 한 번만 사용 가능하다. */
    
* {
    margin: 0;
    padding: 0;
}
.head {
    font-size: 50px;
    text-align: center;
}
ul {
    list-style: none; /*원래는 li 태그를 사용하면 점이 생기는데 그것을 없애주는 코드*/

}

body {
    height: 100%;
    overflow: hidden;
}
/* html 에 있는 class 명을 가져와서 css 에 적용을 시키려면 . 을 이용해서 사용하면 되는듯. 
ex) class 명이 score 라면 .score {} 이런식으로 사용한다. 그리고 태그 안에 있는 태그를 사용하려면 
.score > score2 이런식으로 사용한다. */

.rank-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 40vw;
    height: 75vh;
    background: rgba(0,0,0,0.7);
    left: 6.1vw;
    top: 13.2vh;
    color: rgb(255, 255, 255);
    font-size: 60px;
}
.rank-text > span {
    margin-top: 10px;
    font-size: 20px;
}
#sign{
    display: inline-block;
    outline: none;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: rgb(0, 153, 255);
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 25px;
}
#cancel{
    display: inline-block;
    outline: none;
    margin-top: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: rgb(247, 28, 255);
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 25px;
}
.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 70vw;
    height: 80vh;
    background: rgba(0, 0, 0, 0.7);
    left: 15vw;
    top: 10vh;
    color: #fff;
    font-size: 50px;
}
.game-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

#score {
    text-align: center;
    font-size: 9px;
    margin-bottom: 2px;
}

/* .nextblock > ul {
    border: 1px solid #333;
    width: 250px;
    margin: 0 auto; 가운데로 정렬하기 위한 코드임. 
}
.nextblock > ul > li {
    width: 100%;
    height: 25px;
}
.nextblock > ul > li > ul {
    display:  flex;
}
.nextblock > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc;
} */

.playground > ul {
    /* border: 1px solid #333; */
    width: 20vw;
    margin: 0 auto;
    padding: 15px 0;
}
.playground > ul > li {
    width: 100%;
    height: 15vh;
}

.playground > ul > li > ul {
    display: flex;
}

.playground > ul > li > ul > li {
    width: 14vw;
    height: 14vh;
    outline: 1px solid #ccc;
}
.square {
    background: hotpink;
}
.bar {
    background: salmon;
}
.tree {
    background: #67c23a;
}
.zeeLeft {
    background: #e6a23c;
}
.zeeRight {
    background: #cc1d51;
}
.elLeft {
    background: #8e44ad;
}
.elRight {
    background: #16a085;
}